#masthead{
    // background-color:#545A63;
    background-color:#ffffff;
    //background-image: linear-gradient(to right, #a8b2d1, #ccd6f6, #e6f1ff);
    //background-image: linear-gradient(to right, #FF6663, #C16E70, #66101F);
    #secondColor {
        position: relative;
        z-index: 2;
        //background-image:linear-gradient(to bottom right, #1E4785, #FF6663);
        height:100vh;
        // @media screen and (max-width:576px) and (min-height:800px) {
        //     height:80vh;
        // }
        justify-content:flex-end;
        .site-branding{
            padding:20px;
            #siteLogo {
                opacity:0;
                font-family: 'Work Sans', sans-serif;
                font-size: 2.5rem;
                

                a {
                    color:#ffffff;
                    font-weight:700;
                    box-shadow: inset 0 0 0 5px #64ffda;
                    padding: 10px;
                    background: none;
                    border: 0;
                    box-sizing: border-box;
                    position: relative;
                    vertical-align: middle;
                    -webkit-transition: color 0.3s; 
                    transition: color 0.3s; 
                    border-radius:0.2rem;
                    &:hover {
                        text-decoration: none;
                        color:#64ffda;
                    }
                    &:before {
                        box-sizing: inherit;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    &:after {
                        box-sizing: inherit;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    
                }

                //start of logo hover effect
                .center {
                     // Set up base styles, going to scale instead of animating width/height
                    &::before,
                    &::after {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        transform-origin: center; // Ensure scaling is done from the center (expands outwards)
                    }

                    
                    &::before {
                        border-top: 5px solid #ffffff;
                        border-bottom: 5px solid #ffffff;
                        transform: scale3d(0,1,1); // Shrink only width
                        border-radius:0.2rem;
                    }

                    &::after {
                        border-left: 5px solid #ffffff;
                        border-right: 5px solid #ffffff;
                        transform: scale3d(1,0,1); // Shrink only height
                        border-radius:0.2rem;
                    }

                    &:hover::before,
                    &:hover::after {
                        transform: scale3d(1,1,1); // Show full-size
                        transition: transform 0.5s;
                    }
                }
                //end of logo hover effect
            }
        }
        .main-navigation{
            @media screen and (max-width:576px) {
                padding:0;
                margin-top:-2rem;
                margin-bottom:2rem;
            }
            .menu-primary-menu-container {
                @media screen and (max-width:576px) {
                    box-shadow: 0px 30px 30px rgba(255, 255, 255, 0.05);
                    border-bottom: 5px solid #ffffff;
                    padding-bottom:10px;
                    border-radius:1.5rem;
                }
                ul {
                    justify-content:flex-end;
                    list-style-type:none;
                    display:flex;
                    flex-flow:row;
                    @media screen and (max-width:576px) {
                        flex-flow:column;
                    }
                    li {
                        padding:20px;
                        @media screen and (max-width:991px) {
                            padding:20px 10px;
                        }
                        @media screen and (max-width:576px) {
                            padding:10px;
                            text-align:center;
                        }
                        a {
                            color:#0a192f;
                            font-weight:700;
                            text-transform:uppercase;
                            font-size:1.4rem;
                            &:after {
                                content: ' ';
                                display: block;
                                height: 5px;
                                width: 0px;
                                margin: auto;
                                background: transparent;
                                transition: width 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44),background-color 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44);
                            }
                            &:hover {
                                text-decoration:none;
                                &:after {
                                    width:100%;
                                    background:#64ffda;
                                    @media screen and (max-width:576px) {
                                        width:100px;
                                    }
                                }
                            }
                            @media screen and (max-width:991px) {
                                font-size:1.25rem;
                            }
                            @media screen and (max-width:768px) {
                                color:#ffffff;
                    
                            }
                        }
                    }
                    .slide-to-about, .slide-to-projects, .slide-to-contact {
                        opacity:0;
                    }
                }
            }
            
        }
        // &:before {
        //     content: "";
        //     position: absolute;
        //     //top: 0;
        //     top:350px;
        //     bottom: 0;
        //     left: 0;
        //     width: 50%;
        //     background: #545A63;
        //     transform: skew(-64deg);
        //     transform-origin:bottom;
        //     z-index:-1;
        //   }

        .navbar-toggler {
            &:active, &:focus-visible {
                outline:none;
            }
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
            
            &:active, &:focus, &:focus-visible {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100,255,218,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
                outline:none;
            }
        }   
        
        @media screen and (max-width:768px) {
            background-color: #0a192f;

        }
    }
    #firstColor {
        //background-color: #1E4785;
        background-color:#0a192f;
        //background-image: linear-gradient(to right, #1E4785, #007BC3, #05A7C7); //hide for diaganol
        top: 0px;
        left: 0px;
        //width: 100%; //change to this for diaganol
        width:50%;
        z-index:1;
        position:absolute;
        height:100vh;
        // &:before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     width:100% 
        //     //background: #1E4785;
        //     background-image: linear-gradient(to right, #1E4785, #007BC3, #05A7C7);
        //     transform: skew(-64deg);
        //     transform-origin:top;
        //   }
        @media screen and (max-width:768px) {
            display:none;
            width:0%;

        }
        
    }
    #jumboHome {
        //height:90vh;
        width:100%;
        background-color:inherit;
        align-items:flex-start;
        color:#F9FCEE;
        padding:0;
        min-height:55vh;
        @media screen and (max-width:768px) {
            align-items:flex-end;
        }
        #headLeft {
            color:#64ffda;
            @media screen and (max-width:576px) {
                text-align:center;
            }
            #fName {
                opacity:0;
                font-size:7.5rem;
                @media screen and (max-width:991px) {
                    font-size:6rem;
                }
                @media screen and (max-width:768px) {
                    text-align:center;
                }
                @media screen and (max-width:576px) {
                    font-size:5rem;
                }
            }
            #lName {
                opacity:0;
                font-size:7.5rem;
                @media screen and (max-width:991px) {
                    font-size:6rem;
                }
                @media screen and (max-width:768px) {
                    text-align:center;
                }
                @media screen and (max-width:576px) {
                    font-size:5rem;
                }
            }
            #leadTitle {
                opacity:0;
                font-size:2rem;
                @media screen and (max-width:991px) {
                    font-size:1.5rem;
                }
                @media screen and (max-width:768px) {
                    text-align:center;
                }
                @media screen and (max-width:576px) {
                    font-size:1.25rem;
                }
                
            }
        }
        .svgContainer {
            align-self:flex-end;
            @media screen and (max-width:768px) {
                margin:0 auto;
            }
            #svgImg {
                width:100%;
                //height:11.5rem;
                margin-right:3rem;
                //margin-bottom:-0.15rem;
                opacity:0;
            }
            #svgImgTwo {
                width:100%;
                opacity:0;
                align-self:center;
            }
            @media screen and (max-width:768px) {
                padding-top:1rem;
                width:75%;
            }
            @media screen and (max-width:576px) {
                padding-top:4rem;
                width:100%;
            }
            

        }
    }
}